<html>
	<head>
		<title>Wasserwacht Wasserstand</title>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<div class="container">
			<div class="upper show">
				<a th:text="${wasserstand}" id="value"></a>
				<a id="textbig">cm</a>
			</div>
			<div class="lower show">
				<a id="textsmall">Wasserstand</a><br/><br/><br/><br/><br/>
				<a id="timestamp" th:text="'Letztes Update: ' + ${lasttimestamp}"></a>
			</div>
		</div>
		<div class="left-top btn" onclick="window.location.href='/today'">
			<div style="transform: rotate(-50deg);"><a id="textbig" style="margin-left: 100px;">Heute</a></div>
		</div>
		<div class="left-bot btn" onclick="window.location.href='/month'">
			<div style="transform: rotate(50deg);"><a id="textbig" style="margin-left: 130px;">Monat</a></div>
		</div>
		<div class="right-top btn" onclick="window.location.href='/year'">
			<div style="transform: rotate(50deg);"><a id="textbig" style="margin-right: 130px;">Jahr</a></div>
		</div>
		<div class="right-bot btn" onclick="window.location.href='/impressum'">
			<div style="transform: rotate(-50deg);"><a id="textbig" style="margin-right: 100px;">Impressum</a></div>
		</div>
	</body>
</html>