<html>
	<head>
		<title>Wasserwacht Wasserstand</title>
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="https://cdn.anychart.com/releases/8.5.0/js/anychart-base.min.js"></script>
		<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
		<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container" id="anzeigecon">
			<div class="upper show">
				<a th:text="${wasserstand}" id="value"></a><a id="textbig">cm</a>
			</div>
			<div class="lower show">
				<a id="textsmall">Wasserstand</a><br/>
				<a id="timestamp">Letztes Update:</a>
				<a id="timestamp" th:text="${timestamp}"></a>
			</div>
		</div>
		<div class="container" id="tempcon">
			<a th:text="${temperatur}"></a>
		</div>
		<div class="selectioncon">
			<select onchange="chnggraph()" id="select">
				<option value="lastsevendays" selected>Vergangenen 7 Tage</option>
				<option value="today">Heute</option>
				<option value="month">Letzter Monat</option>
			</select>
		</div>
		<div class="container" id="graphcon">
		
		</div>
		
		<script th:inline="javascript">
			
			var chart = anychart.area();
			anychart.onDocumentReady(lastsevendays());
			
			function chnggraph(){
				var input = document.getElementById('select').value;
				switch (input){
				case "lastsevendays":
					lastsevendays();
					break;
				case "today":
					today();
					break;
				}
			}
			
			function lastsevendays() {
				$.ajax({
					type: "GET",
					url: "/lastsevendays",
					cache: false,
					timeout: 60000,
					success: function(dbdata) {
						chart.dispose();
						chart = anychart.area();
						
						var entries = [];
						var entry = [];
						
						dbdata.forEach(function(item){
							entry = [];
							var date;
							
							date = item.day + "." + item.month + "." + item.year;
							
							entry.push(date);
							entry.push(item.wasserstand);
							
							entries.push(entry);
						})
						
						
						
					  	var series = chart.area(entries);

						chart.background().fill("none"); 
					    chart.container('container');
					  	chart.xScale().mode('continuous');   
						
						series.normal().fill("#bbddff");
						series.normal().stroke("#FFFFFF", 3);
						series.name("Wasserstand");
						
						var title = chart.title();
						title.enabled(true);
						title.text(dbdata[0].day + "." + dbdata[0].month + "." + dbdata[0].year);
						
						title.fontSize("25");

						chart.container("graphcon");
						chart.draw();
					},
					error: function(){
						alert("DATENFEHLER");
					}
				});
			};
			
			function today(){
				$.ajax({
					type: "GET",
					url: "/today",
					cache: false,
					timeout: 60000,
					success: function(dbdata) {
						chart.dispose();
						chart = anychart.area();
						
						var entries = [];
						var entry = [];
						
						dbdata.forEach(function(item){
							entry = [];
							var date;
							
							time = item.hour + ":" + item.min;
							
							entry.push(date);
							entry.push(item.wasserstand);
							
							entries.push(entry);
						})
						
						
						
					  	var series = chart.area(entries);

						chart.background().fill("none"); 
					    chart.container('container');
					  	chart.xScale().mode('continuous');   
						
						series.normal().fill("#bbddff");
						series.normal().stroke("#FFFFFF", 3);
						series.name("Wasserstand");
						
						var title = chart.title();
						title.enabled(true);
						title.text(dbdata[0].day + "." + dbdata[0].month + "." + dbdata[0].year + " - " + dbdata[dbdata.length-1].day + "." + dbdata[dbdata.length-1].month + "." + dbdata[dbdata.length-1].year);
						
						title.fontSize("25");

						chart.container("graphcon");
						chart.draw();
					},
					error: function(){
						alert("DATENFEHLER");
					}
				})
			}
			
		</script>
	</body>
</html>