<html>
	<head>
		<title>Wasserwacht Wasserstand</title>
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="style.css" />
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<script src="https://cdn.anychart.com/releases/8.5.0/js/anychart-base.min.js"></script>
		<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
		<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container" id="anzeigecon">
			<div class="upper show">
				<a th:text="${wasserstand}" id="value"></a><a id="textbig">cm</a>
			</div>
			<div class="lower show">
				<a id="textsmall">Wasserstand</a><br/>
				<a id="timestamp">Letztes Update:</a>
				<a id="timestamp" th:text="${timestamp}"></a>
			</div>
		</div>
		<select onchange="drawchart()" id="selectchart">
			<option value="today" selected>Tagesdiagramm</option>
			<option value="week">Wochendiagramm</option>
			<option value="month">Monatsdiagramm</option>
			<option value="year">Jahresdiagramm</option>
		</select>
		<div class="container" id="graphcon">
			
		</div>
		
		
		<script th:inline="javascript">
			var chart = anychart.area();
		
			anychart.onDocumentReady(drawchart());
			
			function drawchart() {
					debugger;
					var input = document.getElementById('selectchart').value;
					
					var dbdata = [];

					var datastr = {
						searched: input
					};
					
					$.ajax({
						type: "POST",
						contentType: "application/json",
						url: "/chart",
						data: JSON.stringify(datastr),
						dataType: 'json',
						cache: false,
						timeout: 60000,
						success: function(data, input) {
							fortfahren(data, input);
						},
						error: function(){
							alert("DATENFEHLER");
						}
					});
			};
			
			function fortfahren(dbdata){		
				
					chart.dispose();
					chart = anychart.area();
					
					debugger;
					var entries = [];
					var entry = [];
					
					dbdata.forEach(function(item, input){
						entry = [];
						
						
						if(input=="today"){
							var date = item.hour + ":" + item.min;
						}
						else if(input=="week"||input=="month"){
							var date = item.day + "." + item.month + "." + item.year;
						}else{
							var date = item.month;
						}
						
						entry.push(date);
						entry.push(item.wasserstand);
						
						entries.push(entry);
					})
					
				  	var series = chart.area(entries);

					chart.background().fill("none"); 
				    chart.container('container');
				  	chart.xScale().mode('continuous');   
					
					series.normal().fill("#bbddff");
					series.normal().stroke("#00bbaa", 3);
					series.name("Wasserstand");
					
					var title = chart.title();
					title.enabled(true);
					if(input=="today"){
						title.text(dbdata[0].day + "." + dbdata[0].month + "." + dbdata[0].year);
					}else if(input=="week"){
						title.text("Week: " + dbdata[0].week);
					}else if(input=="month"){
						switch(dbdata[0].month){
						case 1:
							title.text("Januar");
							break;
						case 2:
							title.text("Februar");
							break;
						case 3:
							title.text("März");
							break;
						case 4:
							title.text("April");
							break;
						case 5:
							title.text("Mai");
							break;
						case 6:
							title.text("Juni");
							break;
						case 7:
							title.text("Juli");
							break;
						case 8:
							title.text("August");
							break;
						case 9:
							title.text("September");
							break;
						case 10:
							title.text("Oktober");
							break;
						case 11:
							title.text("November");
							break;
						case 12:
							title.text("Dezember");
							break;
						}
					}else{
						title.text(dbdata[0].year);
					}
					title.fontSize("25");

					chart.container("graphcon");
					chart.draw();
					
			};
		</script>
	</body>
</html>