body{
	background-color: #313131;
	height: 100%;
	overflow: hidden;
}

.container{
	position: absolute;
	z-index: 100;
	top: calc(50% - 300px);
	left: calc(50% - 300px);
	display: block;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	border: 3px solid #f4f0e5;
	background-color: #313131;
}
.upper{
	width: 100%;
	height: 300px;
	line-height: 2;
	border-radius: 300px 300px 0 0;
}
.lower{
	width: 80%;
	height: 300px;
	margin: auto;
	line-height: 3;
	border-top: 2px solid #f4f0e5;
	border-radius: 0 0 300px 300px;
}
.show{
	color: #f4f0e5;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

#value{font-size: 200px;}
#textbig{font-size: 75px;}
#textsmall{font-size: 50px;}

#timestamp{
	font-size: 20px;
}

.navbar{
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #f4f0e5;
	background-color: #3f3a3a;
	opacity: .5;
}

#graph{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 25;
	height: 50%;
	width: 100%;
}

@media only screen and (max-width: 768px) {
	#value{font-size: 100px;}
	#textbig{font-size: 50px;}
	#textsmall{font-size: 20px;}

	.container{
		top: calc(50% - 150px);
		left: calc(50% - 150px);
		width: 300px;
		height: 300px;
	}
	.upper{
		height: 150px;
		border-radius: 150px 150px 0 0;
	}
	.lower{
		height: 150px;
		line-height: 2;
		border-radius: 0 0 150px 150px;
	}
}