body{
	background-color: #011115;
	height: 100%;
	overflow: overlay;
}
::-webkit-scrollbar {
	width: 0px;
}

#anzeigecon{
	position: absolute;
	color: #13c3ef;
	top: calc(50% - 300px);
	left: 6vw;
	display: block;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	border: 3px solid #00cc00;
	background-color: #011115;
}

#tempcon{
	position: absolute;
	color: red;
	top: calc(50% - 300px);
	right: 6vw;
	display: block;
	height: 600px;
	width: 600px;
	border-radius: 50%;
	border: 3px solid #00cc00;
	background-color: #011115;
}
.upper{
	width: 100%;
	height: 300px;
	line-height: 2;
	border-radius: 300px 300px 0 0;
}
.lower{
	width: 80%;
	height: 300px;
	margin: auto;
	line-height: 3;
	border-top: 2px solid #f4f0e5;
	border-radius: 0 0 300px 300px;
}
.show{
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
}

#value{font-size: 200px;}
#textbig{font-size: 75px;}
#textsmall{font-size: 50px;}

#timestamp{
	font-size: 20px;
}

.navbar{
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #f4f0e5;
	background-color: #3f3a3a;
	opacity: .5;
	z-index: 100;
}

ul{
	list-style: none;
	margin: auto;
}

ul li {
	display: inline-block;
    height: 100%;
    margin: auto;
	width: 10%;
}

ul li:not(:last-of-type){
	border-right: 1px solid white;
}

ul div{
	color: #fff;
    text-align: center;
    font-size: 28px;
    padding: calc(50px - 16px) 0;
    cursor: pointer;
}

#graphcon {
	position: absolute;
	display: block;
	left: 0;
	top: 100%;
	height: 50%;
	width: 100%;
}

@media only screen and (max-width: 1400px) {
	#value{font-size: 100px;}
	#textbig{font-size: 50px;}
	#textsmall{font-size: 20px;}
	
	#anzeigecon{
		width: 300px;
		height: 300px;
		top: calc(50% - 150px);
	}
	
	#tempcon{
		width: 300px;
		height: 300px;
		top: calc(50% - 150px);
	}
	
	.upper{
		height: 150px;
		border-radius: 150px 150px 0 0;
	}
	.lower{
		height: 150px;
		line-height: 2;
		border-radius: 0 0 150px 150px;
	}
}

@media only screen and (max-width: 768px) {

	
	#anzeigecon{
		top: calc(50% - 150px);
		left: calc(50% - 150px);
	}
	#tempcon{
		top: calc(50% + 160px);
		left: calc(50% - 150px);
	}
	#graphcon{
		top: 100%;
	}
}