body{
	background-color: #313131;
	height: 100%;
	overflow: hidden;
}

.container{
	position: absolute;
	z-index: 100;
	top: calc(50% - 300px);
	left: calc(50% - 300px);
	display: block;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	border: 3px solid #f4f0e5;
	background-color: #313131;
}

.upper{
	width: 100%;
	height: calc(500px);
	text-align: center;
	color: #f4f0e5;
}

.lower{
	color: #f4f0e5;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}

#value{font-size: 250px;}
#textbig{font-size: 75px;}
#textsmall{font-size: 25px;}

#timestamp{
	font-family: 'Open Sans', sans-serif;
	color: #f4f0e5;
	font-size: 20px;
}

.navbar{
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid #f4f0e5;
	background-color: #f4f0e5;
	opacity: .5;
}

#graph{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 25;
	height: 50%;
	width: 100%;
}