body{
	background-color: #595959;
	height: 100%;
	overflow: hidden;
}

.container{
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	display: block;
	height: 200px;
	width: 200px;
}
.upper a{
	border-bottom: 2px solid #f4f0e5;
	width: 220px;
	display: block;
	margin: auto;
}
.show{
	color: #f4f0e5;
	font-family: 'Open Sans', sans-serif;
	padding: 3px;
	text-align: center;
}

#value{
	size: 60px;
}
#textbig{
	size: 45px;	
}
#textsmall{
	size: 20px;
}