.background{
	background-color: #595959;
	filter: blur(8px);
	-webkit-filter: blur(8px);
	height: 120%;
	width: 120%;
	margin-top: -2%;
	margin-left: -2%;
}

.container{
	position: absolute;
	z-index: 100;
	top: 52%;
	left: 52%;
	display: block;
	height: 200px;
	width: 200px;
}
.upper{
	border-bottom: 1px solid #f4f0e5;
}
.show{
	color: #f4f0e5;
	font-size: 50px;
	font-weight: bold;
	font-family: "Roboto Condensed", sans-serif;
	padding: 3px;
	transform: translate(-50%, -50%);
}