body{
	background-color: #313131;
	height: 100%;
	overflow: hidden;
}

.container{
	position: absolute;
	z-index: 100;
	top: calc(50% - 300px);
	left: calc(50% - 300px);
	display: block;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	border: 3px solid #f4f0e5;
}
.upper{
	width: 90%;
	margin: auto;
	padding-top: 20px !important;
}
.lower{
	width: 150px;
	margin: auto;
	border-top: 1px solid #f4f0e5;
}
.show{
	color: #f4f0e5;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding: 3px;
	height: 280px;
}

#value{font-size: 250px;}
#textbig{font-size: 75px;}
#textsmall{font-size: 25px;}

#timestamp{
	font-family: 'Open Sans', sans-serif;
	color: #f4f0e5;
	font-size: 20px;
	float: right;
}

.btn{
	height: 300px;
	width: 0.5vh;
	border: 3px solid #f4f0e5;
	display: block;
	text-align: center;
	position: absolute;
	z-index: 50;
	color: #f4f0e5;
}

.left-top{
	left: 0px;
	top: calc(50% - 300px);
}

.left-bot{
	left: 0px;
	top: 50%;
}

.left-top{
	left: 0.5vh;
	top: calc(50% - 300px);
}

.left-bot{
	left: 0.5vh;
	top: 50%;
}